$bs-font-family: 'Segoe UI', Arial, -apple-system, BlinkMacSystemFont, Helvetica, Roboto, Noto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$bs-font-size: 16px;
$bs-color: #212529;

$white: #fff;
$black: #212529;
$light-grey: #ced4da;
$gray: #6c757d;
$indigo: #6610f2;